<launch>
  <node  name="ilins_node" pkg="ilins_driver" type="ilins_node" output="screen" >
    <!-- Serial Config -->
    <param name="serial_port" value="/dev/pts/21"/>
    <param name="baudrate" value="230400"/>

    <!-- Replay Config -->
    <param name="mode" value="once"/> <!-- once or loop -->
    <param name="replay_file" value="/home/r4phael/NMEA_dump_file.nmea"/>

    <!-- General Config -->
    <param name="deviceName" value="Intertial Labs INS"/>
    <param name="protocol" value="NMEA"/>   <!--NMEA or OPVT2A-->

    <!-- Record Config -->
    <param name="record" value="true"/>
    <param name="record_file_path" value="/home/r4phael/record_file.txt"/>
  </node>
</launch>
